<h1><%= "Edit #{@company.name}" %></h1>

<%= form_for @company do |f| %> 

<table>
<tr>
    <td><%= label_tag "Select an industry" %></td>
    <td>
      <%=f.collection_select(:industry_id, Industry.all, :id, :name,{include_blank:"All Industries"}) %>
    </td>
</tr>
<tr>
	<td><%= f.label :name %></td>
	<td><%=f.text_field :name %></td>
</tr>
<tr>
	<td><%= f.label :price %></td>
	<td><%=f.text_field :price %></td>
</tr>
<tr>
	<td><%= f.label :description %></td>
	<td><%= f.text_field :description %></td>
</tr>
	<td><%= f.submit %></td>
</tr>
 
<% end %> 


